# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

**/node_modules/
**/.wrangler/
**/.next/
**/.open-next/
**/.react-router/
**/dist/
**/.env*
!**/.env.example
**/.dev.vars*
**/worker-configuration.d.ts
**/.claude/

# Dependencies
.pnp
.pnp.js

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# original

public
.plugin
.temp