@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ribbit-background: 0 0% 100%;
    --ribbit-foreground: 224 71.4% 4.1%;

    --ribbit-card: 0 0% 100%;
    --ribbit-card-foreground: 224 71.4% 4.1%;

    --ribbit-popover: 0 0% 100%;
    --ribbit-popover-foreground: 224 71.4% 4.1%;

    --ribbit-primary: 204 70% 53%;
    --ribbit-primary-foreground: 210 20% 98%;

    --ribbit-secondary: 220 14.3% 95.9%;
    --ribbit-secondary-foreground: 220.9 39.3% 11%;

    --ribbit-muted: 220 14.3% 95.9%;
    --ribbit-muted-foreground: 220 8.9% 46.1%;

    --ribbit-accent: 220 14.3% 95.9%;
    --ribbit-accent-foreground: 220.9 39.3% 11%;

    --ribbit-destructive: 0 84.2% 60.2%;
    --ribbit-destructive-foreground: 210 20% 98%;

    --ribbit-border: 220 13% 91%;
    --ribbit-input: 220 13% 91%;
    --ribbit-ring: 224 71.4% 4.1%;

    --ribbit-radius: 8px;
  }
}

@layer plugin {
  .🐸 {
    * {
      border-color: hsl(var(--ribbit-border));
      box-sizing: border-box;
    }
    @apply text-foreground;
  }

  .MuiAutocomplete-popper[role='presentation'] {
    ::-webkit-scrollbar {
      @apply w-1 h-1 md:w-2 md:h-2;
    }
    ::-webkit-scrollbar-thumb {
      @apply rounded-full bg-gray-300;
    }
    ::-webkit-scrollbar-track {
      @apply bg-transparent;
    }
  }
}
